@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(24 24 27);
}

.MyGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
